In [27]:
# Import packages
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [28]:
# Read default data
df = pd.read_csv(r"C:/Deloy ML/raw_data.csv")
# Print the data
df

,province,max,min,wind,wind_d,humidi,cloud,pressure,date,rain
0,Bac Lieu,27,22,17,NNE,90,71,1010,1/1/2009,6.9
1,Bac Lieu,31,25,20,ENE,64,24,1010,1/1/2010,0.0
2,Bac Lieu,29,24,14,E,75,45,1008,1/1/2011,0.0
3,Bac Lieu,30,24,30,E,79,52,1012,1/1/2012,0.0
4,Bac Lieu,31,25,20,ENE,70,24,1010,1/1/2013,0.0
...,...,...,...,...,...,...,...,...,...,...
181955,Soc Trang,28,23,8,SSW,75,50,1011,12/28/2016,0.0
181956,Soc Trang,30,24,21,ENE,81,50,1011,12/28/2017,7.2
181957,Soc Trang,26,24,9,ENE,91,75,1009,12/28/2018,1.3
181958,Soc Trang,30,23,11,E,74,6,1012,12/28/2019,0.0
181959,Soc Trang,29,24,9,ESE,84,43,1009,12/28/2020,0.7

In [30]:
# Encode province and win_d column data
encoder = LabelEncoder()
df['province'] = encoder.fit_transform(df['province'])
df['wind_d'] = encoder.fit_transform(df['wind_d'])
# Sort the value
df = df.sort_values('province')
# Print the result
df

,province,max,min,wind,wind_d,humidi,cloud,pressure,date,rain
0,0,27,22,17,5,90,71,1010,1/1/2009,6.9
12,0,28,21,9,15,74,48,1011,1/1/2021,0.0
11,0,32,23,22,1,61,9,1014,1/1/2020,0.0
10,0,27,22,19,15,73,55,1012,1/1/2019,4.5
9,0,29,23,16,0,70,33,1010,1/1/2018,0.0
...,...,...,...,...,...,...,...,...,...,...
163831,39,26,12,4,1,79,14,1017,12/19/2010,0.0
163833,39,20,14,7,2,73,50,1017,12/19/2012,0.0
163743,39,20,14,5,1,69,69,1023,12/31/2011,0.2
163775,39,28,18,5,8,78,41,1014,12/20/2018,0.2
163840,39,23,19,16,2,79,92,1017,12/19/2019,4.2

In [31]:
# Convert the 'date' column to a datetime object
df['date'] = pd.to_datetime(df['date'])
# Extract the month from the 'date' column
df['month'] = df['date'].dt.month
# Delete the 'date' column
df = df.drop('date', axis=1)
# Print the result
df

        province  max  min  wind  wind_d  humidi  cloud  pressure  rain  month
0              0   27   22    17       5      90     71      1010   6.9      1
12             0   28   21     9      15      74     48      1011   0.0      1
11             0   32   23    22       1      61      9      1014   0.0      1
10             0   27   22    19      15      73     55      1012   4.5      1
9              0   29   23    16       0      70     33      1010   0.0      1
...          ...  ...  ...   ...     ...     ...    ...       ...   ...    ...
163831        39   26   12     4       1      79     14      1017   0.0     12
163833        39   20   14     7       2      73     50      1017   0.0     12
163743        39   20   14     5       1      69     69      1023   0.2     12
163775        39   28   18     5       8      78     41      1014   0.2     12
163840        39   23   19    16       2      79     92      1017   4.2     12

[181960 rows x 10 columns]

In [26]:
# Convert rain column data to binary
df['rain'] = df['rain'].apply(lambda x: 1 if float(x) > 0 else x)
# Print the result
df

        province  max  min  wind  wind_d  humidi  cloud  pressure  rain  month
0              0   27   22    17       5      90     71      1010   1.0      1
3024           0   31   25    17      15      76     51      1007   1.0      8
3025           0   34   26    15      15      72     18      1008   1.0      8
3026           0   33   27    13      12      75     39      1009   1.0      8
3027           0   33   27    22      15      72     36      1007   1.0      8
...          ...  ...  ...   ...     ...     ...    ...       ...   ...    ...
160731        39   29   17     7       9      66     31      1013   0.0      4
160730        39   31   24    10       2      75     80      1011   1.0      4
160729        39   32   23     9       2      76     45      1010   1.0      4
160735        39   24   15     8      12      81     73      1015   1.0      4
163840        39   23   19    16       2      79     92      1017   1.0     12

[181960 rows x 10 columns]